In [ ]:
#importar librerias
import os  # leer y escribir un archivo
from pathlib import Path  # manipular rutas
import pandas as pd  #manejo estructura de datos
from pyspark.sql import SparkSession
from sqlite3 import connect
from sqlalchemy import create_engine
from sqlalchemy import values

In [427]:
df1304 = pd.read_csv('Datasets/precios_semana_20200413.csv', sep=',', encoding='utf-16') # carga de archivo

TypeError: read_csv() got an unexpected keyword argument 'index'

In [399]:
df1304 = df1304.reindex(columns=['sucursal_id','producto_id','precio']) # se ordenan columnas

In [400]:
df1304.rename(columns={'sucursal_id':'Sucursal_Id', 
                            'producto_id':'Producto_Id','precio':'Precio'}, 
                            inplace=True)  # se renombran columnas

In [401]:
prueba = df1304.isnull()  # revision de valores nulos
prueba[(prueba['Sucursal_Id'] == True)]

        Sucursal_Id  Producto_Id  Precio
246393         True         True    True
246748         True         True    True
246882         True         True    True
246978         True         True    True
247033         True         True    True
247079         True         True   False
247167         True         True    True
247310         True         True    True
247404         True         True    True
247405         True         True    True
247520         True         True    True
247560         True         True   False
247660         True         True    True
459373         True         True    True
459568         True         True    True

In [402]:
df1304.dropna (how = 'all',inplace=True) # elimina columnas completas con valores nulos

In [403]:
df1304.dropna (inplace=True) # en vista de que solo esta el valor del precio se eliminan toda la columna con valor nulo

In [404]:
df1304 = df1304.fillna('sin datos')  # si hay valores nulos los reemplaza

In [405]:
df1304 = df1304.drop_duplicates()  # eliminado duplicados

In [428]:
df1304.index()

TypeError: 'RangeIndex' object is not callable

In [429]:
df1304(index='precio')

TypeError: 'DataFrame' object is not callable

In [367]:
# se crea en BD
conn = connect("proyecto_individual.db")
df1304.to_sql("df1304",conn,if_exists='append')

472131

In [407]:
# Se crea Mysql

engine = create_engine('mysql+pymysql://root:andresito@localhost/Proyecto1') #, echo=False)
df1304.to_sql(name='df1304',con=engine, if_exists='append')

472131

In [378]:
# se concatenan las dos hojas de excel en un solo dataframe
df1904 = pd.concat(pd.read_excel('Datasets/precios_semanas_20200419_20200426.xlsx',sheet_name=None),ignore_index=True)

In [379]:
df1904 = df1904.drop_duplicates() # se eliminan duplicados

In [380]:
df1904 = df1904.fillna('sin datos') # se reemplazan valores nulos

In [381]:
df1904 = df1904.reindex(columns=['sucursal_id','producto_id','precio']) # se ordenan columnas

In [382]:
df1904.rename(columns={'sucursal_id':'Sucursal_Id', 
                            'producto_id':'Producto_Id','precio':'Precio'}, 
                            inplace=True)  # se renombran columnas

In [383]:
# se crea en BD
conn = connect("proyecto_individual.db")
df1904.to_sql("df1904",conn,if_exists='append')

933234

In [ ]:
# se crea en Mysql
engine = create_engine('mysql+pymysql://root:andresito@localhost/Proyecto1') #, echo=False)
df1904.to_sql(name='df1904',con=engine, if_exists='append')

In [384]:
df0305 = pd.read_json('Datasets/precios_semana_20200503.json') # carga de archivo

In [385]:
df0305 = df0305.drop_duplicates()  # se eliminan duplicados

In [386]:
df0305 = df0305.fillna('sin datos') # se reemplazan valores nulos

In [387]:
df0305 = df0305.reindex(columns=['sucursal_id','producto_id','precio']) # se ordenan columnas

In [388]:
df0305.rename(columns={'sucursal_id':'Sucursal_Id', 
                            'producto_id':'Producto_Id','precio':'Precio'}, 
                            inplace=True)  # se renombran columnas

In [ ]:
# se crea en BD
conn = connect("proyecto_individual.db")
df0305.to_sql("df0305",conn,if_exists='append')

In [ ]:
# Se crea Mysql

engine = create_engine('mysql+pymysql://root:andresito@localhost/Proyecto1') #, echo=False)
df0305.to_sql(name='df0305',con=engine, if_exists='append')

In [ ]:
dfsucursal = pd.read_csv('Datasets/sucursal.csv', sep=',', encoding='utf-8') # se extrae archivo

In [ ]:
dfsucursal = dfsucursal.drop_duplicates() # se eliminan duplicados

In [ ]:
dfsucursal = dfsucursal.fillna('sin datos') # se reemplazan valores nulos

In [ ]:
dfsucursal.rename(columns={'id':'Id_Principal', 
                            'comercioId':'Comercio_Id','banderaId':'Bandera_Id','banderaDescripcion':'Bandera_Descripcion','comercioRazonSocial':'Razon_Social',
                            'provincia':'Provincia','localidad':'Localidad','direccion':'Dirrecion','lat':'Latitud',
                            'lng':'Longitud','sucursalNombre':'Nombre_Sucursal','sucursalTipo':'Tipo_Sucursal'}, 
                            inplace=True)  # se renombran columnas

In [ ]:
# se crea en BD
conn = connect("proyecto_individual.db")
dfsucursal.to_sql("dfsucursal",conn,if_exists='append')

In [ ]:
# Se crea Mysql

engine = create_engine('mysql+pymysql://root:andresito@localhost/Proyecto1')
dfsucursal.to_sql(name='dfsucursal',con=engine, if_exists='append')

In [ ]:
dfproducto = pd.read_parquet('Datasets/producto.parquet', engine='pyarrow') # se extrae archivo

In [ ]:
dfproducto = dfproducto.drop_duplicates() # se eliminan duplicados

In [ ]:
dfproducto = dfproducto.fillna('sin datos') # se reemplazan valosres nulos

In [ ]:
dfproducto.rename(columns={'id':'Codigo_EAN', 
                            'marca':'Marca_Producto','nombre':'Nombre_Producto','presentacion':'Presentacion','categoria1':'Categoria1',
                            'categoria2':'Categoria2','categoria3':'Categoria3'}, 
                            inplace=True)  # se renombran columnas

In [ ]:
# se crea en BD
conn = connect("proyecto_individual.db")
dfproducto.to_sql("dfproducto",conn,if_exists='append')

In [ ]:
# Se crea Mysql

engine = create_engine('mysql+pymysql://root:andresito@localhost/Proyecto1') 
dfproducto.to_sql(name='dfproducto',con=engine, if_exists='append')

In [389]:
preciosunificados = pd.concat([df1304, df1904, df0305])  # se concatenan las tablas de precios

In [ ]:
# se crea en BD
conn = connect("proyecto_individual.db")
preciosunificados.to_sql("preciosunificados",conn,if_exists='append')

In [431]:
# Se crea Mysql

engine = create_engine('mysql+pymysql://root:andresito@localhost/Proyecto1') 
preciosunificados.to_sql(name='preciosunificados',con=engine, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1170, "BLOB/TEXT column 'Precio' used in key specification without a key length")
[SQL: CREATE INDEX `ix_preciosunificados_Precio` ON preciosunificados (`Precio`)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [395]:
preciosunificados = preciosunificados.reindex(columns=['Precio','Producto_Id','Sucursal_Id']) # se ordenan columnas

In [409]:

preciosunificados.reset_index

In [392]:
parapromedio = preciosunificados[(preciosunificados['Sucursal_Id'] == '9-1-688')]

In [393]:
parapromedio['Precio'].mean()

205.9753316326525

In [432]:
preciosunificados

          Producto_Id Sucursal_Id
Precio
29.90   0000000001663     2-1-014
29.90   0000000002288     2-1-032
39.90   0000000002288     2-1-096
499.99  0000000205870     9-1-686
519.99  0000000205870     9-2-248
...               ...         ...
139.99  9569753142128      25-1-1
34.99   9795403001143      25-1-1
312.50  9990385651922       5-1-5
312.50  9990385651939       5-1-5
198.90  9990385651946       5-1-5

[1803099 rows x 2 columns]